<%- include('../../partials/header'); %>
<%- include('../../partials/topbar'); %>
<div class="d-flex ">
  <%- include('../../partials/sidebar'); %>
  <div class="px-3 py-3 vw-100">
    <h2>New Issue</h2>
    <hr>
    <div class="card mb-5">
      <div class="card-body">
        <div id="fillformcontainer" class="container mt-3">
          <form action="<%= `/projects/issues/${projectid}` %>" method="POST" enctype="multipart/form-data"
            id="fillform">
            <div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="tracker">Tracker</label>
                </div>
                <div class="container">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tracker" value="bug">
                    <label class="form-check-label" for="bug">Bug</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tracker" value="feature" checked>
                    <label class="form-check-label" for="feature">Feature</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="tracker" value="support">
                    <label class="form-check-label" for="support">Support</label>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="subject">Subject</label>
                </div>
                <div class="container">
                  <input class="form-control" type="text" name="subject" placeholder="Subject" required>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="description">Description</label>
                </div>
                <div class="container">
                  <textarea class="form-control" name="description" placeholder="Description"></textarea>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="status">Status</label>
                </div>
                <div class="container">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="new" checked>
                    <label class="form-check-label" for="new">New</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="in progress">
                    <label class="form-check-label" for="in progress">In Progress</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="resolved">
                    <label class="form-check-label" for="resolved">Resolved</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="feedback">
                    <label class="form-check-label" for="feedback">Feedback</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="closed">
                    <label class="form-check-label" for="closed">Closed</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="status" value="rejected">
                    <label class="form-check-label" for="rejected">Rejected</label>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="priority">Priority</label>
                </div>
                <div class="container">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="priority" value="normal" checked>
                    <label class="form-check-label" for="normal">Normal</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="priority" value="high">
                    <label class="form-check-label" for="high">High</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="priority" value="urgent">
                    <label class="form-check-label" for="urgent">Urgent</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="priority" value="immediate">
                    <label class="form-check-label" for="immediate">Immediate</label>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="assignee">Assignee</label>
                </div>
                <div class="container">
                  <select class="form-control" name="assignee">
                    <option disabled selected> Choose the assignee ...</option>
                    <% members.forEach( (el) => { %>
                    <option value="<%= el.userid %>">
                      <%= el.firstname %>
                    </option>
                    <%  }) %>
                  </select>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="startdate">Start Date</label>
                </div>
                <div class="container">
                  <input class="form-control" type="date" name="startdate" placeholder="Start Date" required>
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="duedate">Due Date</label>
                </div>
                <div class="container">
                  <input class="form-control" type="date" name="duedate" placeholder="Due Date">
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="estimatedtime">Estimated Time</label>
                </div>
                <div class="container">
                  <input class="form-control" type="number" step="any" name="estimatedtime" placeholder="Estimated Time"
                    value="0">
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="done">%done</label>
                </div>
                <div class="container">
                  <input class="form-control" type="number" name="done" placeholder="%Done">
                </div>
              </div>
              <div class="d-flex flex-row mb-3">
                <div class="container w-25">
                  <label class="form-check-label" for="files">files</label>
                </div>
                <div class="container" id="filecontainer">
                  <div class="fileuploader">
                    <div class="row mb-3">
                      <div class="d-flex flex-row">
                        <input class="form-control" type="file" name="files" placeholder="file"
                          onchange="showPreview(event)">
                        <button class="btn btn-outline-danger rmfile ms-3" onclick="removeFile(event)" hidden>-</button>
                      </div>
                    </div>
                    <button class="btn btn-outline-primary" onclick="addFile(event)">+</button>
                  </div>
                </div>
              </div>
            </div>
            <button id="submitfillform" class="btn btn-primary" type="submit">Save</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
  function showPreview(event) {
    let fileInput = event.target;
    if (fileInput.parentNode.previousElementSibling) {
      fileInput.parentNode.previousElementSibling.remove();
    }
    let imgsrc = URL.createObjectURL(fileInput.files[0]);
    if (fileInput.files[0].type.includes('image')) {
      fileInput.parentNode.insertAdjacentHTML('beforebegin', `<div><img style="width: 100px" class="img- mb-2" src="${imgsrc}"></div>`)
    }
    let filerm = fileInput.nextElementSibling;
    filerm.hidden = false;
  }
  function removeFile(event) {
    event.preventDefault()
    let filerm = event.target;
    let fileInput = filerm.previousElementSibling;
    if (fileInput.files.length > 0 && fileInput.files[0].type.includes('image')) {
      fileInput.parentNode.previousElementSibling.remove();
    }
    fileInput.value = '';
    filerm.hidden = true;
    let fileuploader = filerm.closest('.fileuploader');
    if (fileuploader.children.length > 2) {
      event.target.parentNode.parentNode.remove();
    }
  }

  function addFile(event) {
    event.preventDefault();
    let fileInput = event.target.previousElementSibling.cloneNode(true);
    fileInput.querySelector('.form-control').value = '';
    let filerm = fileInput.querySelector('.rmfile');
    filerm.hidden = false;
    if (fileInput.children.length > 1) {
      fileInput.firstElementChild.remove();
    }
    event.target.parentNode.insertBefore(fileInput, event.target);
  }
</script>
<%- include('../../partials/footer'); %>