<%- include('../../partials/header'); %>
<%- include('../../partials/topbar'); %>
<div class="d-flex vh-100">
  <%- include('../../partials/sidebar'); %>
  <div class="px-3 py-3 vw-100">
    <h2>Issues</h2>
    <hr>
    <h4>Filters</h4>
    <div id="filterform" class="container">
      <form action="/projects/issues/<%=projectid%>" method="GET" id="browse">
        <div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checkissueid">
                <label class="form-check-label" for="ID">ID</label>
              </div>
              <div class="container">
                <input class="form-control" type="number" name="issueid" step="1" placeholder="ID">
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checksubject">
                <label class="form-check-label" for="Subject">Subject</label>
              </div>
              <div class="container">
                <input class="form-control" type="text" name="subject" placeholder="Subject">
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checktracker">
                <label class="form-check-label" for="tracker">Tracker</label>
              </div>
              <div class="container">
                <select class="form-control" id="inputtracker" name="tracker">
                  <option disabled selected> Choose the Tracker ...</option>
                  <option value="bug"> Bug</option>
                  <option value="feature"> Feature</option>
                  <option value="support"> Support</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checkstatus">
                <label class="form-check-label" for="status">Status</label>
              </div>
              <div class="container">
                <select class="form-control" id="inputstatus" name="status">
                  <option disabled selected> Choose the Status ...</option>
                  <option value="new">New</option>
                  <option value="in progress">In Progress</option>
                  <option value="resolved">Resolved</option>
                  <option value="feedback">Feedback</option>
                  <option value="closed">Closed</option>
                  <option value="rejected">Rejected</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checkpriority">
                <label class="form-check-label" for="status">Priority</label>
              </div>
              <div class="container">
                <select class="form-control" id="inputstatus" name="priority">
                  <option disabled selected> Choose the Priority ...</option>
                  <option value="new">New</option>
                  <option value="in progress">In Progress</option>
                  <option value="resolved">Resolved</option>
                  <option value="feedback">Feedback</option>
                  <option value="closed">Closed</option>
                  <option value="rejected">Rejected</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" name="checkassignee">
                <label class="form-check-label" for="Assignee">Assignee</label>
              </div>
              <div class="container">
                <select class="form-control" id="inputMember" name="member">
                  <option disabled selected> Choose the assignee ...</option>
                  <% members.forEach( (el) => { %>
                  <option value="<%= el.firstname %>"><%= el.firstname %></option>
                  <%  }) %>
                </select>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
    </div>
    <h4>Options</h4>
    <div>
      <form action="/projects/issues/option/<%= projectid %>" method="POST">
        <div class="d-flex container">
          <h6>Columns</h6>
          <div class="row align-items-start">
            <div class="col-1 me-4">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.issueid ? 'checked' : '' %>
                      name="optionissueid">
                    <label class="form-check-label" for="ID">ID</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.subject ? 'checked' : '' %>
                      name="optionsubject">
                    <label class="form-check-label" for="Subject">Subject</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.tracker ? 'checked' : '' %>
                      name="optiontracker">
                    <label class="form-check-label" for="Tracker">Tracker</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 me-4">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.status ? 'checked' : '' %>
                      name="optionstatus">
                    <label class="form-check-label" for="status">Status</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.priority ? 'checked' : '' %>
                      name="optionpriority">
                    <label class="form-check-label" for="Priority">Priority</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.assignee ? 'checked' : '' %>
                      name="optionassignee">
                    <label class="form-check-label" for="Assignee">Assignee</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.description ? 'checked' : '' %>
                      name="optiondescription">
                    <label class="form-check-label" for="description">Description</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.startdate ? 'checked' : '' %>
                      name="optionstartdate">
                    <label class="form-check-label" for="Start Date">Start Date</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.duedate ? 'checked' : '' %>
                      name="optionduedate">
                    <label class="form-check-label" for="Due Date">Due Date</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.estimatedtime ? 'checked' : '' %>
                      name="optionestimatedtime">
                    <label class="form-check-label" for="estimatedtime">Estimated Time</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.spenttime ? 'checked' : '' %>
                      name="optionspenttime">
                    <label class="form-check-label" for="Spent Time">Spent Time</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.targetversion ? 'checked' : '' %>
                      name="optiontargetversion">
                    <label class="form-check-label" for="Target Version">Target Version</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.author ? 'checked' : '' %>
                      name="optionauthor">
                    <label class="form-check-label" for="author">Author</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.createddate ? 'checked' : '' %>
                      name="optioncreateddate">
                    <label class="form-check-label" for="Created Date">Created Date</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.updateddate ? 'checked' : '' %>
                      name="optionupdateddate">
                    <label class="form-check-label" for="Updated Date">Updated Date</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-auto">
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.closeddate ? 'checked' : '' %>
                      name="optioncloseddate">
                    <label class="form-check-label" for="closeddate">Closed Date</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.parenttask ? 'checked' : '' %>
                      name="optionparenttask">
                    <label class="form-check-label" for="Parent Task">Parent Task</label>
                  </div>
                </div>
              </div>
              <div class="form-check">
                <div class="mb-3">
                  <div class="container">
                    <input type="checkbox" class="form-check-input" <%= option.done ? 'checked' : '' %>
                      name="optiondone">
                    <label class="form-check-label" for="Done">Done</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Apply</button>
      </form>
    </div>
    <div class="container mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th <%= option.issueid ? '' : 'hidden' %>>
              <div>#</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=issueid&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'issueid' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=issueid&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'issueid' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.subject ? '' : 'hidden' %>>
              <div>Subject</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=subject&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'subject' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=subject&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'subject' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.tracker ? '' : 'hidden' %>>
              <div>Tracker</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=tracker&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'tracker' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=tracker&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'tracker' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.status ? '' : 'hidden' %>>
              <div>Status</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=status&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'status' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=status&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'status' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.priority ? '' : 'hidden' %>>
              <div>Priority</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=priority&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'priority' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=priority&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'priority' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.assignee ? '' : 'hidden' %>>
              <div>Assignee</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=assignee&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'assignee' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=assignee&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'assignee' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.description ? '' : 'hidden' %>>
              <div>Description</div>
            </th>
            <th <%= option.startdate ? '' : 'hidden' %>>
              <div>Start Date</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=startdate&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'startdate' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=startdate&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'startdate' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.duedate ? '' : 'hidden' %>>
              <div>Due Date</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=duedate&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'duedate' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=duedate&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'duedate' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.estimatedtime ? '' : 'hidden' %>>
              <div>Estimated Time</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=estimatedtime&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'estimatedtime' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=estimatedtime&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'estimatedtime' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.spenttime ? '' : 'hidden' %>>
              <div>Spent Time</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=spenttime&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'spenttime' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=spenttime&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'spenttime' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.targetversion ? '' : 'hidden' %>>
              <div>Target Version</div>
            </th>
            <th <%= option.author ? '' : 'hidden' %>>
              <div>Author</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=author&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'author' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=author&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'author' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.createddate ? '' : 'hidden' %>>
              <div>Created Date</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=createddate&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'createddate' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=createddate&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'createddate' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.updateddate ? '' : 'hidden' %>>
              <div>Updated Date</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=updateddate&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'updateddate' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=updateddate&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'updateddate' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.closeddate ? '' : 'hidden' %>>
              <div>Closed Date</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=closeddate&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'closeddate' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=closeddate&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'closeddate' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.parenttask ? '' : 'hidden' %>>
              <div>Parent Task</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=parenttask&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'parenttask' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=parenttask&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'parenttask' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.done ? '' : 'hidden' %>>
              <div>Done</div>
              <div>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=done&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'done' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/issues/${projectid}/?${query}&sortp=done&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'done' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.issueid || 
            option.subject || 
            option.tracker ||
            option.status ||
            option.priority ||
            option.assignee ||
            option.description ||
            option.startdate ||
            option.duedate ||
            option.estimatedtime ||
            option.spenttime ||
            option.targetversion ||
            option.author ||
            option.createddate ||
            option.updateddate ||
            option.closeddate ||
            option.parenttask ||
            option.done ? '' : 'hidden' %>>
              <div>Actions</div>
            </th>
            </th>
          </tr>
        </thead>
        <tbody id="tdata">
          <% let p = isNaN(parseInt(result.page)) || parseInt(result.page) === 0 ? 1 : parseInt(result.page); %>
          <% let list = result.data %>
          <% list.forEach((el, index) =>{ 
                %>
          <tr>
            <td <%= option.issueid ? '' : 'hidden' %>><%= el.issueid || '' %></td>
            <td <%= option.subject ? '' : 'hidden' %>><%= el.subject || '' %></td>
            <td <%= option.tracker ? '' : 'hidden' %>><%= el.tracker || '' %></td>
            <td <%= option.status  ? '' : 'hidden' %>><%= el.status || '' %></td>
            <td <%= option.priority  ? '' : 'hidden' %>><%= el.priority || '' %></td>
            <td <%= option.assignee  ? '' : 'hidden' %>><%= el.assignee || '' %></td>
            <td <%= option.description  ? '' : 'hidden' %>><%= el.description || '' %></td>
            <td <%= option.startdate  ? '' : 'hidden' %>><%= el.startdate || '' %></td>
            <td <%= option.duedate  ? '' : 'hidden' %>><%= el.duedate || '' %></td>
            <td <%= option.estimatedtime  ? '' : 'hidden' %>><%= el.estimatedtime || '' %></td>
            <td <%= option.spenttime  ? '' : 'hidden' %>><%= el.spenttime || '' %></td>
            <td <%= option.targetversion  ? '' : 'hidden' %>><%= el.targetversion || '' %></td>
            <td <%= option.author  ? '' : 'hidden' %>><%= el.author || '' %></td>
            <td <%= option.createddate  ? '' : 'hidden' %>><%= el.createddate || '' %></td>
            <td <%= option.updateddate  ? '' : 'hidden' %>><%= el.updateddate || '' %></td>
            <td <%= option.closeddate  ? '' : 'hidden' %>><%= el.closeddate || '' %></td>
            <td <%= option.parenttask  ? '' : 'hidden' %>><%= el.parenttask || '' %></td>
            <td <%= option.done  ? '' : 'hidden' %>><%= el.done || '' %></td>
            <td <%= option.issueid || 
            option.subject || 
            option.tracker ||
            option.status ||
            option.priority ||
            option.assignee ||
            option.description ||
            option.startdate ||
            option.duedate ||
            option.estimatedtime ||
            option.spenttime ||
            option.targetversion ||
            option.author ||
            option.createddate ||
            option.updateddate ||
            option.closeddate ||
            option.parenttask ||
            option.done ? '' : 'hidden' %>>
              <div>
                <a href="/projects/issues/edit/<%=projectid%>/<%= el.issueid %>" class="btn btn-success">Edit</a>
                <a href="/projects/issues/delete/<%=projectid%>/<%= el.issueid %>" class="btn btn-danger">Delete</a>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <nav>
        <p id="pagenumber"></p>
        <p id="filters"></p>
        <p id="sortp"></p>
        <p id="sortr"></p>
        <ul id="page" class="pagination mt-2">
          <% let size = Math.ceil(result.total / 3) %>
          <% if (p > 1) { %>
          <li class="page-item"><a class="page-link"
              href="<%= `/projects/issues/${projectid}/?page=${p > 1 ? p-1 : 1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Previous</a>
          </li>
          <% }%>
          <% for (let i = 0; i < size; i++) { %>
          <li class="page-item"><a class="page-link"
              href="<%= `/projects/issues/${projectid}/?page=${i+1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>"><%=i+1%></a>
          </li>
          <%}%>
          <% if (p < size) { %>
          <li class="page-item"><a class="page-link"
              href="<%= `/projects/issues/${projectid}/?page=${p < size ? p+1 : size}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Next</a>
          </li>
          <% }%>
        </ul>
      </nav>
      <a class="btn btn-primary" href="/projects/issues/<%=projectid%>/add">Add</a>
    </div>
  </div>
</div>
<%- include('../../partials/footer'); %>