<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-md">
    <a class="navbar-brand" href="/projects">Project Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class=" navbar-nav">
        <a class="nav-link <%= nav === 'projects' ? 'active' : ''%>"
          <%= nav === 'projects' ? 'aria-current=page' : '' %> href="/projects">Projects</a>
        <a class="nav-link <%= nav === 'profile' ? 'active' : ''%>" <%= nav === 'profile' ? 'aria-current=page' : '' %>
          href="/profile">Profile</a>
        <a class="nav-link <%= nav === 'users' ? 'active' : ''%>" <%= nav === 'users' ? 'aria-current=page' : '' %>
          href="/users" <%= user.role === 'admin' ? '' : 'hidden'%>>Users</a>
      </div>
    </div>
  </div>
  <span class="navbar-text mx-3">
    <%= user.firstname %>
  </span>
  <a href="/logout" class=" mx-3 btn btn-outline-success" style="width:150px">Sign Out</a>
</nav>