<%- include('../../partials/header'); %>
<%- include('../../partials/topbar'); %>
<div class="d-flex vh-100">
  <%- include('../../partials/sidebar'); %>
  <div class="px-3 py-3 vw-100">
    <h2>Activity</h2>
    <hr>
    <div class="card">
      <div class="card-body">
        <div>Activity</div>
        <% if (activity.length > 0) { %>
        <div> From <%= activity[0].date %> to <%= activity[activity.length-1].date %></div>
        <% let today = new Date(); %>
        <% let header = false; %>
        <% for (i = 0; i < activity.length; i++) { %>
        <%  if (!(header)) { %>
        <% if ((activity[i].time.getDate() === today.getDate()) && (activity[i].time.getMonth() === today.getMonth()) && (activity[i].time.getFullYear() === today.getFullYear())) { %>
        <div>Today</div>
        <ul>
          <% } else { %>
          <div><%= activity[i].day %></div>
          <ul>
            <% } %>
            <%} %>
            <% if(activity[i+1]) { %>
            <% if ((activity[i].time.getDate() === activity[i+1].time.getDate()) && (activity[i].time.getMonth() === activity[i+1].time.getMonth()) && (activity[i].time.getFullYear() === activity[i+1].time.getFullYear())) { %>
            <% header = true %>
            <li>
              <span><%= `${activity[i].hour} ${activity[i].subject}`%></span><a
                href="/projects/issues/edit/<%=projectid%>/<%= activity[i].issueid %>">
                #<%= activity[i].issueid %></a><span><%=` (${activity[i].status.split(' ').map(e=> e = e[0].toUpperCase() + e.slice(1)).join(' ')}): ${activity[i].description}, author: ${activity[i].author}` %></span>
            </li>
            <%} else { %>
            <% header = false %>
            <li>
              <span><%= `${activity[i].hour} ${activity[i].subject}`%></span><a
                href="/projects/issues/edit/<%=projectid%>/<%= activity[i].issueid %>">
                #<%= activity[i].issueid %></a><span><%=` (${activity[i].status.split(' ').map(e=> e = e[0].toUpperCase() + e.slice(1)).join(' ')}): ${activity[i].description}, author: ${activity[i].author}` %></span>
            </li>
          </ul>
          <%} %>
          <%}  else { %>
          <li>
            <span><%= `${activity[i].hour} ${activity[i].subject}`%></span><a
              href="/projects/issues/edit/<%=projectid%>/<%= activity[i].issueid %>">
              #<%= activity[i].issueid %></a><span><%=` (${activity[i].status.split(' ').map(e=> e = e[0].toUpperCase() + e.slice(1)).join(' ')}): ${activity[i].description}, author: ${activity[i].author}` %></span>
          </li>
        </ul>
        <% } %>

        <% } %>
        <% } else {%>
        <div>Tidak ada activity</div>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include('../../partials/footer'); %>