<%- include('../../partials/header'); %>
<%- include('../../partials/topbar'); %>
<div class="d-flex vh-100 ">
  <%- include('../../partials/sidebar'); %>
  <div class="px-3 py-3 vw-100">
    <h2>Projects</h2>
    <hr>
    <h4><%= project.name %></h4>
    <div class="card mb-5">
      <div class="card-body">
        <span>Issue Tracking</span>
        <ul>
          <li>Bug: <%= issuecount.bugopen %> Open / <%= issuecount.bugtotal %></li>
          <li>Feature: <%= issuecount.featureopen %> Open / <%= issuecount.featuretotal %></li>
          <li>Support: <%= issuecount.supportopen %> Open / <%= issuecount.supporttotal %></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>Members</span>
        <ul>
          <% if (project.members[0] !== null ) { %>
          <% project.members.forEach((el)=> { %>
          <li><%= el %></li>
          <% })} else { %>
          <span>Tidak ada member</span>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
<%- include('../../partials/footer'); %>