<%- include('../partials/header'); %>

<%- include('../partials/topbar'); %>
<div class="px-3 py-3">
  <h2>Projects</h2>
  <hr>
  <h4>Filters</h4>
  <div id="filterform" class="container">
    <form action="/projects" method="GET" id="browse">
      <div>
        <div class="form-check">
          <div class="d-flex flex-row mb-3">
            <div class="container w-25">
              <input type="checkbox" class="form-check-input" name="checkprojectid">
              <label class="form-check-label" for="ID">ID</label>
            </div>
            <div class="container">
              <input class="form-control" type="number" name="projectid" step="1" placeholder="ID">
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="d-flex flex-row mb-3">
            <div class="container w-25">
              <input type="checkbox" class="form-check-input" name="checkname">
              <label class="form-check-label" for="Name">Name</label>
            </div>
            <div class="container">
              <input class="form-control" type="text" name="name" placeholder="Name">
            </div>
          </div>
        </div>
        <div class="form-check">
          <div class="d-flex flex-row mb-3">
            <div class="container w-25">
              <input type="checkbox" class="form-check-input" name="checkmember">
              <label class="form-check-label" for="Member">Member</label>
            </div>
            <div class="container">
              <select class="form-control" id="inputMember" name="member">
                <option disabled selected> Choose the member ...</option>
                <% members.forEach( (el) => { %>
                <option value="<%= el.firstname %>"><%= el.firstname %></option>
                <%  }) %>
              </select>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
  <h4>Options</h4>

  <div>
    <form action="/projects/option" method="POST">
      <div class="d-flex">
        <h6>Columns</h6>
        <div>
          <div class="form-check">
            <div class="mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" <%= option.projectid ? 'checked' : '' %>
                  name="optionprojectid">
                <label class="form-check-label" for="ID">ID</label>
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" <%= option.name ? 'checked' : '' %> name="optionname">
                <label class="form-check-label" for="Name">Name</label>
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="mb-3">
              <div class="container w-25">
                <input type="checkbox" class="form-check-input" <%= option.members ? 'checked' : '' %>
                  name="optionmembers">
                <label class="form-check-label" for="Members">Members</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Apply</button>
    </form>
  </div>
  <div class="container mt-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th <%= option.projectid ? '' : 'hidden' %>>
            <div>#</div>
            <div>
              <a href="<%= `/projects/?${query}&sortp=projectid&sortr=ASC` %>"
                class="arrow arrow-up <%= (sort.prop === 'projectid' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
              <a href="<%= `/projects/?${query}&sortp=projectid&sortr=DESC` %>"
                class="arrow arrow-down <%= (sort.prop === 'projectid' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
            </div>
          </th>
          <th <%= option.name ? '' : 'hidden' %>>
            <div>Name</div>
            <div>
              <a href="<%= `/projects/?${query}&sortp=name&sortr=ASC` %>"
                class="arrow arrow-up <%= (sort.prop === 'name' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
              <a href="<%= `/projects/?${query}&sortp=name&sortr=DESC` %>"
                class="arrow arrow-down <%= (sort.prop === 'name' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
            </div>
          </th>
          <th <%= option.members ? '' : 'hidden' %>>
            <div>Members</div>
            <div>
              <a href="<%= `/projects/?${query}&sortp=members&sortr=ASC` %>"
                class="arrow arrow-up <%= (sort.prop === 'members' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
              <a href="<%= `/projects/?${query}&sortp=members&sortr=DESC` %>"
                class="arrow arrow-down <%= (sort.prop === 'members' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
            </div>
          </th>
          <th <%= option.projectid || option.name || option.members ? '' : 'hidden' %>>
            <div>Actions</div>
          </th>
          </th>
        </tr>
      </thead>
      <tbody id="tdata">
        <% let p = isNaN(parseInt(result.page)) || parseInt(result.page) === 0 ? 1 : parseInt(result.page); %>
        <% let list = result.data %>
        <% list.forEach((el, index) =>{ 
              %>
        <tr>
          <td <%= option.projectid ? '' : 'hidden' %>><a
              href="/projects/overview/<%= el.projectid || '' %>"><%= el.projectid || '' %></a></td>
          <td <%= option.name ? '' : 'hidden' %>><%= el.name || '' %></td>
          <td <%= option.members ? '' : 'hidden' %>><%= el.members || '' %></td>
          <td <%= option.projectid || option.name || option.members ? '' : 'hidden' %>>
            <div>
              <a href="/projects/edit/<%= el.projectid %>" class="btn btn-success">Edit</a>
              <a href="/projects/delete/<%= el.projectid %>" class="btn btn-danger">Delete</a>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <nav>
      <p id="pagenumber"></p>
      <p id="filters"></p>
      <p id="sortp"></p>
      <p id="sortr"></p>
      <ul id="page" class="pagination mt-2">
        <% let size = Math.ceil(result.total / 3) %>
        <% if (p > 1) { %>
        <li class="page-item"><a class="page-link"
            href="<%= `/projects?page=${p > 1 ? p-1 : 1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Previous</a>
        </li>
        <% }%>
        <% for (let i = 0; i < size; i++) { %>
        <li class="page-item <%= p === i+1 ? 'active' : ''%>"><a class="page-link"
            href="<%= `/projects?page=${i+1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>"><%=i+1%></a>
        </li>
        <%}%>
        <% if (p < size) { %>
        <li class="page-item"><a class="page-link"
            href="<%= `/projects?page=${p < size ? p+1 : size}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Next</a>
        </li>
        <% }%>
      </ul>
    </nav>
    <a class="btn btn-primary" href="/projects/add">Add</a>
  </div>
</div>

<%- include('../partials/footer'); %>