<%- include('../../partials/header'); %>
<%- include('../../partials/topbar'); %>
<div class="d-flex vh-100">
  <%- include('../../partials/sidebar'); %>
  <div class="px-3 py-3 vw-100">
    <% if (breadmessage.length > 0) { %>
    <div class="alert alert-success show w-25 float-end" role="alert">
      <%= breadmessage[0] %>
    </div>
    <% } %>
    <h2>Members</h2>
    <hr>
    <h4>Filters</h4>
    <div id="filterform" class="container">
      <form action="/projects/members/<%=projectid%>" method="GET" id="browse">
        <div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-50">
                <input type="checkbox" class="form-check-input" name="checkuserid" <%= check.userid ? 'checked' : '' %>>
                <label class="form-check-label" for="ID">User ID</label>
              </div>
              <div class="container">
                <input class="form-control" type="number" name="userid" step="1" placeholder="ID"
                  value="<%= check.userid ? check.userid : '' %>">
              </div>
            </div>
          </div>
          <div class="form-check">
            <div class="d-flex flex-row mb-3">
              <div class="container w-50">
                <input type="checkbox" class="form-check-input" name="checkfirstname"
                  <%= check.firstname ? 'checked' : '' %>>
                <label class="form-check-label" for="Name">Name</label>
              </div>
              <div class="container">
                <input class="form-control" type="text" name="firstname" placeholder="Name"
                  value="<%= check.firstname ? check.firstname : '' %>"">
              </div>
            </div>
          </div>
          <div class=" form-check">
                <div class="d-flex flex-row mb-3">
                  <div class="container w-50">
                    <input type="checkbox" class="form-check-input" name="checkposition"
                      <%= check.position ? 'checked' : '' %>>
                    <label class="form-check-label" for="position">Position</label>
                  </div>
                  <div class="container">
                    <select class="form-control" id="inputposition" name="position">
                      <option disabled selected> Choose the Position ...</option>
                      <option value="manager" <%= check.position === 'manager' ? 'selected' : '' %>> Manager</option>
                      <option value="quality assurance" <%= check.position === 'quality assurance' ? 'selected' : '' %>>
                        Quality Assurance</option>
                      <option value="software developer"
                        <%= check.position === 'software developer' ? 'selected' : '' %>> Software Developer</option>
                    </select>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Search</button>
              <button class="btn btn-secondary" onclick="resetFilter()">Reset</button>
            </div>
      </form>
    </div>
    <h4>Options</h4>
    <div>
      <form action="/projects/members/option/<%= projectid %>" method="POST">
        <div class="d-flex">
          <h6>Columns</h6>
          <div>
            <div class="form-check">
              <div class="mb-3">
                <div class="container w-25">
                  <input type="checkbox" class="form-check-input" <%= option.userid ? 'checked' : '' %>
                    name="optionuserid">
                  <label class="form-check-label" for="ID">ID</label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <div class="mb-3">
                <div class="container w-25">
                  <input type="checkbox" class="form-check-input" <%= option.name ? 'checked' : '' %> name="optionname">
                  <label class="form-check-label" for="Name">Name</label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <div class="mb-3">
                <div class="container w-25">
                  <input type="checkbox" class="form-check-input" <%= option.position ? 'checked' : '' %>
                    name="optionposition">
                  <label class="form-check-label" for="Position">Position</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Apply</button>
      </form>
    </div>
    <div class="container mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th <%= option.userid ? '' : 'hidden' %>>
              <div>User ID</div>
              <div>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=userid&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'userid' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=userid&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'userid' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.name ? '' : 'hidden' %>>
              <div>Name</div>
              <div>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=name&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'name' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=name&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'name' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.position ? '' : 'hidden' %>>
              <div>Position</div>
              <div>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=role&sortr=ASC` %>"
                  class="arrow arrow-up <%= (sort.prop === 'role' && sort.rule === 'ASC') ? 'arrow-up-active' : '' %>"></a>
                <a href="<%= `/projects/members/${projectid}/?${query}&sortp=role&sortr=DESC` %>"
                  class="arrow arrow-down <%= (sort.prop === 'role' && sort.rule === 'DESC') ? 'arrow-down-active' : '' %>"></a>
              </div>
            </th>
            <th <%= option.userid || option.name || option.position ? '' : 'hidden' %>>
              <div>Actions</div>
            </th>
            </th>
          </tr>
        </thead>
        <tbody id="tdata">
          <% let p = isNaN(parseInt(result.page)) || parseInt(result.page) === 0 ? 1 : parseInt(result.page); %>
          <% let list = result.data %>
          <% list.forEach((el, index) =>{ 
                %>
          <tr>
            <td <%= option.userid ? '' : 'hidden' %>><%= el.userid || '' %></td>
            <td <%= option.name ? '' : 'hidden' %>><%= el.firstname || '' %></td>
            <td <%= option.position ? '' : 'hidden' %>>
              <%= el.role === 'quality assurance' ? 'Quality Assurance' : el.role === 'software developer' ? 'Software Developer' : el.role === 'manager' ? 'Manager' : '' %>
            </td>
            <td <%= option.userid || option.name || option.position ? '' : 'hidden' %>>
              <div>
                <a href="/projects/members/edit/<%=projectid%>/<%= el.userid %>" class="btn btn-success">Edit</a>
                <a href="/projects/members/delete/<%=projectid%>/<%= el.userid %>" class="btn btn-danger">Delete</a>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <nav>
        <p id="pagenumber"></p>
        <p id="filters"></p>
        <p id="sortp"></p>
        <p id="sortr"></p>
        <ul id="page" class="pagination mt-2">
          <% let size = Math.ceil(result.total / 3) %>
          <% if (p > 1) { %>
          <li class="page-item"><a class="page-link"
              href="<%= `/projects/members/${projectid}/?page=${p > 1 ? p-1 : 1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Previous</a>
          </li>
          <% }%>
          <% for (let i = 0; i < size; i++) { %>
          <li class="page-item <%= p === i+1 ? 'active' : ''%>"><a class="page-link"
              href="<%= `/projects/members/${projectid}/?page=${i+1}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>"><%=i+1%></a>
          </li>
          <%}%>
          <% if (p < size) { %>
          <li class="page-item"><a class="page-link"
              href="<%= `/projects/members/${projectid}/?page=${p < size ? p+1 : size}&${query}${query.length > 0 ? '&' : ''}sortp=${sort.prop}&sortr=${sort.rule}` %>">Next</a>
          </li>
          <% }%>
        </ul>
      </nav>
      <a class="btn btn-primary" href="/projects/members/<%=projectid%>/add">Add</a>
    </div>
  </div>
</div>
<script>
  setTimeout(() => {
    if (document.querySelector('.alert')) {
      document.querySelector('.alert').classList.add('fade')
      document.querySelector('.alert').hidden = true
    }
  }, 1000)

  function resetFilter() {
    event.preventDefault()
    let check = document.querySelector('#browse').querySelectorAll('input[type=checkbox]');
    check.forEach(el => {
      el.checked = false;
    })
    let text = document.querySelector('#browse').querySelectorAll('input[type=text], input[type=number]');
    text.forEach(el => {
      el.value = ""
    })
  }
</script>
<%- include('../../partials/footer'); %>